body {overflow: hidden; margin: 1vw;}
h1 {font-family: sans-serif; font-size: 5em; margin: 0;}
h1 div {display: inline; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
/* .text {margin-left: .3em;} */

#tblcontainer {
    position: relative; overflow: scroll; height: 80vh; width: 100%; margin: 2em 0 0 0;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
table {position: relative; border-collapse: collapse; border: 0.5px solid black; font-family: sans-serif; white-space: nowrap; line-height: 1.4em;} /* line height less than row height below but similar (or at least bigger than 1em?) to ensure text is centered correctly */
td {text-align: center; padding: 0; min-width: 2.5em;}
th {text-align: center; padding: 0;}

.goal {background-color: lightblue;}
#goalExample {background-color: lightblue; width: 2.5em; border: 0.5px solid black; display: inline-block; text-align: center; font-family: sans-serif;}


.cell {border: 0.5px solid gray;}
.rowLabel {
    background-color: lightgray;
    border-color: black;
    border-style: solid;
    border-width: 0.5px 1px;
}
.colLabel {
    background-color: lightgray;
    border-color: black;
    border-style: solid;
    border-width: 1px 0.5px;
}
.corner {
    background-color: lightgray;
    border-color: black; 
    border-style: solid; 
    border-width: 1px;
}

thead th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
}

th.corner {
    left: 0;
    z-index: 1;
}

tbody th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    left: 0;
}


td.selected {outline: .3em solid green; outline-offset: -.15em;}
.rowLabel.selected {background-color: darkgray;}
.colLabel.selected {background-color: darkgray;}

#popover {
    height: 80vh; width: 100%;
    font: 3em sans serif;
    visibility: hidden;
    display: none;
    overflow: hidden;
    outline: 0.2em solid black;
    outline-offset: -0.25em;
    vertical-align: middle;
}
#popoverHeader {
    margin: 0.5em;
}