/*********************************************************
Big picture layout
*********************************************************/
body {
    overflow: hidden;
    margin: 1vw;
    display:flex;
    flex-direction: column;
    height:100vh;
}

h1 {
    font-family: sans-serif;
    font-size: 5em;
    margin: 0;
}

#gameContainer {
    margin: 1em 0 0 0;
    flex-grow: 1;
    overflow: scroll;
    font-family: sans-serif;
    position: relative;
}

#popover {
    width: 100%;
    height: calc(100% - 0.25em);
    font-size: 1.75em;
    overflow: hidden;
    outline: 0.2em solid black;
    outline-offset: -0.25em;
    vertical-align: middle;
}

#popoverHeader {
    margin: 0.5em;
}

/*********************************************************
Table layout
*********************************************************/
table {
    position: relative; 
    border-collapse: collapse;
    font-family: sans-serif;
    white-space: nowrap;
    line-height: 1.4em;
} /* line height less than row height below but similar (or at least bigger than 1em?) to ensure text is centered correctly */
td {text-align: center; padding: 0; min-width: 2.5em;}
th {text-align: center; padding: 0; min-width: 1.5em; padding: 0 0.25em 0 0.25em;}
thead th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
}

th.corner {
    left: 0;
    z-index: 1;
}

tbody th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    left: 0;
}

/*********************************************************
Table styling
*********************************************************/
.cell {border: 0.5px solid lightgray;}
.rowLabel {
    background-color: lightgray;
}
.colLabel {
    background-color: lightgray;
}
.corner {
    background-color: lightgray;
}

.goal {background-color: yellow; border: 1px solid black; color: black; font-weight: bold; text-align: center;}
.goal.example {padding: 0 0.5em; display: inline-block;}

td.selected {outline: .3em solid green; outline-offset: -.15em;}
.rowLabel.selected {background-color: darkgray;}
.colLabel.selected {background-color: darkgray;}


/*********************************************************
Utility
*********************************************************/
.hidden {
    display: none;
    visibility: hidden;
}

.noselect {
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}